.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(128, 0, 128, 1), rgba(255, 255, 255, 1));
  height: 100vh;
}

.login-container {
  max-width: 45rem;
  margin: 0 auto;
  /* height: 80vh; */
  background-color: rgba(48, 25, 52, 0.8);
  border-radius: 20px;
}

.login-img img {
  width: 7rem;
  border-radius: 50%;
}
input {
  width: 20rem;
  height: 3rem;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 6px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.create-acct p {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.underline {
  color: white;
}

.login-btn button {
  width: 6rem;
  height: 1.7rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.error-message p {
  color: red;
  width: 20em;
  font-size: 0.8rem;
}
.login-img,
.email,
.password,
.create-acct,
.login-btn,
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for Sign up Page */
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(128, 0, 128, 1), rgba(255, 255, 255, 1));
  height: 100vh;
}
.signup-container {
  max-width: 45rem;
  margin: 0 auto;
   background-color: rgba(48, 25, 52, 0.8);
  border-radius: 20px;
}
input {
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  font-size: 1rem;
  padding: 6px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.create-account p {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.have-acct {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.signup-btn button {
  width: 6rem;
  height: 1.7rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.create-account,
.signup-btn,
.have-acct {
  display: flex;
  justify-content: center;
  align-items: center;
}
